form {
    max-width: 460px;
    margin: 21px auto;
    padding: 30px;
}
.page-footer{
    position: absolute;
    bottom: 10px;
    width: 100%
  }
a{
    color: rgb(23 255 0);
}
h4{
    color: rgb(157, 0, 255);
}