*{
    margin: 0px;
    padding: 0px;
    
}
#container{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(220px-Black_colour.jpg);
    width: 100%;
    height: 140px;
    color: white;
    
}
#left{
    padding-top: 32px ;margin-bottom: 25px;
    font-family: cursive;
    float: left;
    margin-left: 30px;
}
#left:hover{
  color: orange;  
}
 nav{ color: white;
   float: right;
   cursor: pointer;
   
 }
 nav ul{
     list-style: none;
 }
 nav ul li{
     float: left;
     
     padding: 53px 30px;
     font-size: 30px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px 3px ;
     transition: background 1s;
    }
 nav ul li:hover {
    background: orange;
    
}
#img{
    width: 100%;
    height: 100%;
}

section{
    padding-left: 2.5%;
    padding-right: 2.5%;

}
section h2{
    text-align: center; 
    font-size: 60px;
    text-shadow: 1px 1px 2px  black;
    padding: 50px;
    color:silver;
}
article{
    padding-top: 5px;
    
    width: 22%;
    float: left;
    margin: 12px;
    color: slategrey;
}
#a1{padding-left: 25px;}



article img{
    width: 100%;
    
}

.block{
    width: 275px;
    overflow: hidden;
    height: 190px;
}

.Article-head{
    text-align:center;
    font-size: 25px;
    font-weight: bold;
}
.Article-body{
    width: 100%;
    text-align: justify;
    font-size: 90%;
}
#pf{
    
    width: 100%;
    height: 4cm;
}

.sec-mid{
 background-image: url(middle.jpg);
height: 1000px;
width: 100%;


}
.sec-mid h2{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 50px;

}
.left{
    width: 40%;
    float: left;
    margin: 5px;
    margin-left: 90px;
    padding-left: 30px;
}
.left img{
    width: 10cm;
    height: 9cm;
    border-radius: 20px;
    border: 5px solid white;
}

.right{
    width: 40%;
    float: right;
    padding: 10px;
    border: 5px solid white;
    margin-right: 3cm;
    background: rgb(84, 84, 197);
    color: white;
    line-height: 30px;
    border-radius: 20px;
}


footer{
    background-image: url(220px-Black_colour.jpg);
    width: 100%;
    height: 100px;
    color: white;
    padding: 20px;
}
leftfooter {
 color: white;  
 padding-left: 80px;  
}
rightfoot{
    float:right;
    width: 100%;
}
rightfoot ul{
    list-style: none;
    float: right;
    font-size: 20px;
}
a{
    color: white;
}
a:hover{color: orange}
rightfoot ul li{
    
    float: left;
     
    padding: 10px 40px ;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 3px ;
    cursor: pointer;
}

rightfoot ul li:hover{
    color: orange;}