<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Github Finder</a>
  </div>
</nav>


<div class="container">

  <div class="row">
    <div class="center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-profile></app-profile>
      </div>
    </div>
  </div>

</div>